@page "/CadastroProduto"

<div class="container-md pt-3">
    <div class="breadcrumb">
        <a href="#">Home</a> > <a href="#">Cadastrar: Produto</a>
    </div>
    <div class="border p-4 rounded">
        <h2>Cadastro do produto</h2>
        <p>Preencha todas as informações corretamente</p>
        <input type="text" placeholder="Nome">
        <div class="row">
            <div><input type="text" placeholder="Código de Barra"></div>
            <div><input type="text" placeholder="Valor da unidade"></div>
        </div>
        <textarea rows="4" placeholder="Descrição"></textarea>
        <div class="buttons">
            <button class="btn-salvar">SALVAR</button>
            <button class="btn-deletar">Deletar</button>
        </div>
    </div>
</div>